---

---

<div class="bg-white">
  <div class="mx-auto max-w-7xl divide-y divide-gray-900/10 px-6 py-32 lg:px-8">
    <h2 class="text-2xl font-bold leading-10 tracking-tight text-gray-900">
      Preguntas frecuentes
    </h2>

    <dl class="mt-10 space-y-8 divide-y divide-gray-900/10">
      <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
        <dt
          class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5"
        >
          ¿Qué servicios ofrecen?
        </dt>
        <dd class="mt-4 lg:col-span-7 lg:mt-0">
          <p class="text-base leading-7 text-gray-600">
            Asesoría estratégica, gestión de proyectos y capacitación
            empresarial
          </p>
        </dd>
      </div>

      <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
        <dt
          class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5"
        >
          ¿Trabajan con empresas pequeñas?
        </dt>
        <dd class="mt-4 lg:col-span-7 lg:mt-0">
          <p class="text-base leading-7 text-gray-600">
            Sí, atendemos a empresas de todos los tamaños.
          </p>
        </dd>
      </div>

      <div class="pt-8 lg:grid lg:grid-cols-12 lg:gap-8">
        <dt
          class="text-base font-semibold leading-7 text-gray-900 lg:col-span-5"
        >
          ¿Cómo se diferencian de otras consultoras?
        </dt>
        <dd class="mt-4 lg:col-span-7 lg:mt-0">
          <p class="text-base leading-7 text-gray-600">
            Por nuestro enfoque personalizado y compromiso con el éxito de
            nuestros clientes.
          </p>
        </dd>
      </div>
    </dl>
  </div>
</div>
