---
import Icon from './atoms/Icon.astro';
interface Props {}
---

<div class="pt-20 lg:pt-0">
  <div
    class="relative isolate overflow-hidden bg-gradient-to-b from-indigo-100/20"
  >
    <div
      class="mx-auto max-w-7xl pb-24 pt-10 sm:pb-32 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:px-8 lg:py-32 items-center"
    >
      <div class="px-6 lg:px-0 lg:pt-4">
        <div class="mx-auto max-w-2xl">
          <div class="max-w-lg">
            <h1
              class="mt-10 text-4xl font-roboto tracking-tight text-gray-900 sm:text-6xl"
            >
              Tu aliado a la hora de afrontar la transformación digital.
            </h1>
            <p class="mt-6 text-lg text-gray-600">
              Construir el mejor equipo de profesionales que acompaña el
              desarrollo, transformación y mejora de las empresas y de la
              sociedad, a través de soluciones tecnológicas.
            </p>
            <div class="mt-10 flex items-center gap-x-6">
              <a
                href="#"
                class="rounded-md bg-white border border-black px-3.5 py-2.5 text-sm font-semibold text-black shadow-sm hover:bg-black hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
              >
                Conocer más
              </a>
              <a
                href="/caso-de-estudios"
                class="text-sm font-semibold leading-6 text-gray-900"
                >Ver caso de análisis<span aria-hidden="true">→</span></a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="pt-12">
        <Icon />
      </div>
    </div>
  </div>
</div>
