---

---

<div class="mx-auto max-w-7xl px-6 lg:px-8 pt-12">
  <div class="mx-auto max-w-2xl lg:text-center">
    <p class="text-3xl font-roboto tracking-tight text-gray-900 sm:text-4xl">
      Nuestro equipo
    </p>
    <p class="mt-6 text-lg leading-8 font-nunito text-gray-600">
      Nos esforzamos por superar las expectativas en cada tarea que emprendemos.
    </p>
  </div>
  <div
    class="grid grid-cols-2 sm:grid-cols-3 gap-8 items-center justify-items-center py-12 place-content-center"
  >
    <span class="block w-32 h-32 rounded-full bg-slate-600"></span>
    <span class="block w-32 h-32 rounded-full bg-slate-600"></span>
    <span class="block w-32 h-32 rounded-full bg-slate-600"></span>
    <span class="block w-32 h-32 rounded-full bg-slate-600"></span>
    <span class="block w-32 h-32 rounded-full bg-slate-600"></span>
    <span class="block w-32 h-32 rounded-full bg-slate-600"></span>
  </div>
</div>
