---
interface Props {}

const {} = Astro.props;
---

<div class="mx-auto max-w-7xl px-6 lg:px-8 py-20">
  <div>
    <p class="font-roboto text-3xl py-12 mx-auto text-center">
      Nuestra visión es convertirnos en la <strong class="text-secondary"
        >consultora de tecnología</strong
      > más atractiva para las empresas que quieren incorporar tecnología para
      mejorar y optimizar sus negocios. Ser reconocidos por los profesionales
      por transformar las empresas y la sociedad.
    </p>
  </div>
  <div class="flex justify-center">
    <p
      class="relative rounded-full px-4 py-1.5 text-sm leading-6 text-gray-600 ring-1 ring-inset ring-gray-900/10 hover:ring-gray-900/20"
    >
      <span class="hidden md:inline"
        >Nuestro cliente puede ahorrar hasta U$S.10,000 por año.</span
      >
      <a href="/caso-de-estudios" class="font-semibold text-black">
        <span class="absolute inset-0" aria-hidden="true"></span>
         Leer caso de estudio <span aria-hidden="true">&rarr;</span>
      </a>
    </p>
  </div>
</div>
