---
import { ViewTransitions } from 'astro:transitions';
import Logo from '../components/atoms/Logo.astro';
import StudyCaseNav from '../components/molecules/StudyCaseNav.astro';

interface Props {
  title?: string;
}

const { title = 'Transforma7ech' } = Astro.props;

const nav = [
  {
    name: 'Perfil',
    href: '/caso-de-estudio/maysix-sochic',
  },
  {
    name: 'Arquitectura',
    href: '/caso-de-estudio/maysix-sochic/arquitectura-empresarial',
  },
  {
    name: 'Alcance',
    href: '/caso-de-estudio/maysix-sochic/alcance-del-proyecto',
  },
  {
    name: 'Software',
    href: '/caso-de-estudio/maysix-sochic/seleccion-de-software',
  },
  {
    name: 'Innovaci贸n',
    href: '/caso-de-estudio/maysix-sochic/innovacion',
  },
  {
    name: 'Conclusi贸n',
    href: '/caso-de-estudio/maysix-sochic/conclusiones',
  },
];
---

<!doctype html>
<html class="h-full bg-gray-50" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Dashboard template" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <meta name="generator" content="Dashboard" />
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <ViewTransitions />
  </head>
  <body class="font-nunito overflow-x-hidden">
    <header class="bg-[#868DF5] sm:h-[383px] p-8">
      <div class="max-w-7xl mx-auto relative h-full flex items-end">
        <div class="absolute left-0 top-0 w-full flex justify-between">
          <a href="/">
            <Logo />
          </a>
          <div class="flex lg:hidden">
            <button
              id="openNavBar"
              type="button"
              class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
            >
              <span class="sr-only">Open main menu</span>
              <svg
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
              </svg>
            </button>
          </div>
        </div>
        <div class="max-w-5xl mx-auto flex flex-col gap-4 pb-12 pt-20">
          <h1 class="font-roboto text-4xl text-white">
            Una identidad sofisticada y tecnol贸gica para la soluci贸n de la moda
            casual y la moda de fiesta
          </h1>
          <div
            class="hidden sm:flex items-center gap-4 text-white font-nunito text-xs sm:text-sm font-light whitespace-nowrap"
          >
            <span>Sochic - Maysix</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="8"
              height="8"
              viewBox="0 0 8 8"
              fill="none"
            >
              <circle cx="4" cy="4" r="4" fill="#F6C460"></circle>
            </svg>
            <span>Buenos Aires, Argentina</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="8"
              height="8"
              viewBox="0 0 8 8"
              fill="none"
            >
              <circle cx="4" cy="4" r="4" fill="#F6C460"></circle>
            </svg>
            <span>2023</span>
          </div>
        </div>
      </div>
      <StudyCaseNav client:visible />
    </header>
    <main class="max-w-5xl px-8 mx-auto">
      <slot />
    </main>
    <footer class="bg-white flex items-center justify-center p-8">
      <Logo />
    </footer>
    <style is:global>
      .web-banner {
        width: 100vw;
        margin: auto;
        position: relative;
        left: calc(-50vw + 50%);
      }
      .web-container {
        max-width: 1024px;
        margin: auto;
        padding-left: 16px;
        padding-right: 16px;
      }
    </style>
  </body>
</html>
