---
import CaseLayout from '../../../layouts/CaseLayout.astro';
import arquitecturas from '../../../data/arquitecturas';
import ArquitecturaSlider from '../../../components/ArquitecturaSlider';
---

<CaseLayout>
  <div class="w-full h-8"></div>
  <p class="py-12">
    El análisis de arquitecturas origen-destino y brechas de TOGAF (The Open
    Group Architecture Framework) es un enfoque estratégico que evalúa la
    <strong>situación actual (origen)</strong> y la meta deseada <strong
      >(destino) de la arquitectura empresarial</strong
    >. Este análisis identifica las brechas existentes entre ambos estados y
    propone soluciones para cerrar esas brechas.
    <br /><br />
     Este análisis es esencial para desarrollar una visión clara de la evolución
    de la arquitectura, priorizando las acciones necesarias para lograr una
    <strong>transición exitosa</strong> hacia el objetivo final.
  </p>
  <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4">
    {
      arquitecturas.map((arq) => {
        return (
          <div class="border border-secondary rounded-2xl p-8 flex flex-col gap-4">
            <h3 class="text-xl text-secondary font-medium">{arq.title}</h3>
            <p class="text-sm">{arq.content}</p>
          </div>
        );
      })
    }
  </div>
  <div class="w-full h-16"></div>
  <h2 class="text-center text-2xl text-tt-blue font-semibold uppercase">
    Arquitectura de Negocios
  </h2>
  <div class="grid sm:grid-cols-6 py-12">
    <h2 class="sm:col-span-1 text-2xl text-tt-blue">Mapa de Procesos</h2>
    <div class="sm:col-span-5">
      <img class="w-full" src={'/procesos-actual.png'} alt="" />
      <div class="py-5">
        <a
          class="bg-tt-blue-2 text-white py-2 px-8 rounded-md text-sm font-light flex items-end gap-2 w-fit"
          download="arquitectura_negocios_maysix.jpg"
          href={'/procesos-actual.png'}
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M14 3V7C14 7.26522 14.1054 7.51957 14.2929 7.70711C14.4804 7.89464 14.7348 8 15 8H19"
              stroke="white"
              stroke-width="0.941176"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M12 17V11M17 21H7C6.46957 21 5.96086 20.7893 5.58579 20.4142C5.21071 20.0391 5 19.5304 5 19V5C5 4.46957 5.21071 3.96086 5.58579 3.58579C5.96086 3.21071 6.46957 3 7 3H14L19 8V19C19 19.5304 18.7893 20.0391 18.4142 20.4142C18.0391 20.7893 17.5304 21 17 21Z"
              stroke="white"
              stroke-width="0.941176"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path
              d="M9.5 14.5L12 17L14.5 14.5"
              stroke="white"
              stroke-width="0.941176"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </svg>
           Descargar esquema
        </a>
      </div>
    </div>
  </div>
  <div class="grid sm:grid-cols-6 py-12">
    <h2 class="sm:col-span-1 text-2xl text-tt-blue">Estratégicos</h2>
    <div class="sm:col-span-5">
      <p class="text-tt-text font-extralight">
        <strong> Desarrollo de Productos y Diseño de Colecciones:</strong>
         creación de nuevos productos y colecciones de ropa.
        <br /><br />
        <strong>Marketing y Estrategias de Ventas:</strong> Planificación de
        estrategias de marketing.
        <br /><br />
        <strong>Expansión y Apertura de Nuevos Locales:</strong> Se toman
        decisiones de expandirse y abrir nuevos locales.
        <br /><br />
        <strong>Posicionamiento de marca:</strong> Este proceso implica definir
        cómo la marca quiere ser percibida y cómo se comunica con su público
        para lograr esa posición deseada en el mercado.
        <br /><br />
        <strong>Establecimiento de precios:</strong> En relación al margen de
        ganancia esperado por los directivos y en comparativa con otros
        competidores.
      </p>
    </div>
  </div>
  <div class="grid sm:grid-cols-6">
    <h2 class="sm:col-span-1 text-2xl text-tt-blue">Operativos</h2>
    <div class="sm:col-span-5">
      <p class="text-tt-text font-extralight">
        <strong>Proceso de compra:</strong> Incluye la selección y negociación
        El proceso de aprovisionamiento engloba la selección y negociación con
        proveedores de telas, accesorios y otros insumos esenciales. La
        adquisición de tela se realiza en rollos, cada uno con una cantidad
        predeterminada de metros. Antes del inicio de la temporada, se realiza
        la primera compra, guiada por la tendencia actual, las opiniones de las
        diseñadoras y la experiencia acumulada. Esto contrasta con basarse en lo
        producido en temporadas anteriores, ya que la moda es cambiante. La
        elección de telas se enfoca en la tendencia vigente al iniciar la
        temporada, adquiriendo la cantidad necesaria. Durante la temporada, se
        efectúan compras adicionales si es necesario, evitando fluctuaciones
        constantes para no afectar el proceso de fabricación. En resumen, el
        proceso de compra implica: realizar la primera compra meses antes de la
        temporada, decidir los modelos a vender, elegir telas basadas en las
        tendencias actuales y solicitar la compra de rollos a los proveedores.
        <br /><br />
         La segunda compra se realiza durante la temporada, con repeticiones más
        frecuentes en Sochic, debido a la estabilidad de la moda casual. En
        Maysix, donde la moda cambia constantemente, la segunda compra se
        efectúa al principio de la temporada para evitar retrasos en el proceso
        de fabricación. La elección se basa en la demanda de modelos, decidida
        por la dueña, adquiriendo la misma cantidad que en la última producción.
        La información la manejan los encargados de cada local, quienes
        solicitan la compra de los rollos a los proveedores.
        <br /><br />
        <strong>Producción y Manufactura:</strong> Fabricación de las prendas,
        incluyendo el corte, confección y control de calidad.
        <br /><br />
        <strong>Logística y distribución:</strong> Distribución de productos
        desde el taller hacia a los locales.
        <br /><br />
        <strong>Gestión de venta física:</strong> La gestión del local, atención
        al cliente con asesoramiento presencial, stock presencial, ventas y
        cobros.
        <br /><br />
        <strong>Gestión de venta online:</strong> En WordPress ingresan y bajan
        el stock de la página.
        <br /><br />
        <strong>Proceso de entrega producto:</strong> Proceso en el que se
        entrega el pedido al cliente mediante envío a través de algún transporte
        o es retirado por el cliente en los locales.
      </p>
    </div>
  </div>
  <div class="grid sm:grid-cols-6 py-12">
    <h2 class="sm:col-span-1 text-2xl text-tt-blue">Soporte</h2>
    <div class="sm:col-span-5">
      <p class="text-tt-text font-extralight">
        <strong>Gestión Financiera y Contabilidad:</strong> La gestión de los
        aspectos financieros, como el registro de transacciones y la
        presentación de informes financieros.
        <br />
        <br />
        <strong> Gestión de Recursos Humanos:</strong> Incluye la contratación,
        capacitación y gestión del personal en tiendas, fábrica y otros
        departamentos.
        <br />
        <br />
        <strong> Recursos tecnológicos:</strong> Mantenimiento y actualización
        de hardware y software.
        <br />
        <br />
        <strong> Gestión de Instalaciones y Mantenimiento:</strong>
         Mantenimiento de los locales físicos, maquinaria y equipos.
        <br />
        <br />
        <strong> Promoción y Publicidad:</strong> ejecución de campañas de
        marketing en redes sociales para promocionar los productos y atraer a
        los compradores al por mayor. Incluye la creación de contenido visual,
        copia de anuncios, administración de redes sociales, etc.
        <br />
        <br />
        <strong> Gestión de reclamos:</strong> Proceso en la posventa, donde se
        da solución a los reclamos de los clientes, incluyendo cambios por
        fallas o devoluciones de productos.
      </p>
    </div>
  </div>

  <div class="web-banner py-12 bg-[#F2EAE2] flex flex-col gap-20">
    <ArquitecturaSlider client:load />
  </div>

  <div class="w-full h-16"></div>
  <h2 class="text-center text-2xl text-tt-blue font-semibold uppercase">
    Arquitectura Destino
  </h2>
  <img class="py-12" src="/arquitectura-destino.png" />

  <div class="py-5">
    <a
      class="bg-tt-blue-2 text-white py-2 px-8 rounded-md text-sm font-light flex items-end gap-2 w-fit"
      download="arquitectura_destino_maysix.jpg"
      href={'/arquitectura-destino.png'}
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          d="M14 3V7C14 7.26522 14.1054 7.51957 14.2929 7.70711C14.4804 7.89464 14.7348 8 15 8H19"
          stroke="white"
          stroke-width="0.941176"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M12 17V11M17 21H7C6.46957 21 5.96086 20.7893 5.58579 20.4142C5.21071 20.0391 5 19.5304 5 19V5C5 4.46957 5.21071 3.96086 5.58579 3.58579C5.96086 3.21071 6.46957 3 7 3H14L19 8V19C19 19.5304 18.7893 20.0391 18.4142 20.4142C18.0391 20.7893 17.5304 21 17 21Z"
          stroke="white"
          stroke-width="0.941176"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M9.5 14.5L12 17L14.5 14.5"
          stroke="white"
          stroke-width="0.941176"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
       Descargar esquema
    </a>
  </div>
  <div class="grid sm:grid-cols-6 py-12">
    <h2 class="sm:col-span-1 text-2xl text-tt-blue">Estratégicos</h2>
    <div class="sm:col-span-5">
      <p class="text-tt-text font-extralight">
        <strong> Fidelización e incorporación de clientes:</strong> La
        adquisición y retención clientes son aspectos cruciales sobrevivir en el
        contexto altamente competitivo de nuestro cliente. Por eso, sugerimos
        implementar un proceso formal de diseño estratégico de fidelización e
        incorporación de clientes, para fortalecer las relaciones comerciales,
        la posición en el mercado, y la sostenibilidad a largo plazo de la
        compañía.
        <br /><br />
        <strong>Toma de decisiones basadas en datos:</strong> En la nueva
        arquitectura al contar con información integrada y más certera, se
        facilitaría el armado de un proceso para la toma de decisiones con
        información consolidada.
      </p>
    </div>
  </div>
  <div class="grid sm:grid-cols-6">
    <h2 class="sm:col-span-1 text-2xl text-tt-blue">Operativos</h2>
    <div class="sm:col-span-5">
      <p class="text-tt-text font-extralight">
        <strong> Gestion de venta online:</strong> Hoy en día los pedidos que
        reciben por WhatsApp los anotan en un archivo en Word y lo imprimen. En
        ningún momento pasa por Woocommerce, entonces eso afecta en los
        registros de las ventas y en el decremento de stock. Entonces el cambio
        seria que la vendedora en vez que anotar el pedido en un archivo aparte,
        registrar el pedido a través de la web.
        <br /><br />
        <strong> Gestión de stock centralizado:</strong>Proceso donde se podrá
        acceder a la informacion del stock tanto online como físico
        correspondiente a cada marca.
        <br /><br />
        <strong>Posventa:</strong>Junto a la necesidad de fidelizar clientes,
        sugerimos diseñar e incorporar como parte del proceso operativo un
        proceso específico de soporte post-venta.
      </p>
    </div>
  </div>
  <div class="grid sm:grid-cols-6 py-12">
    <h2 class="sm:col-span-1 text-2xl text-tt-blue">Soporte</h2>
    <div class="sm:col-span-5">
      <p class="text-tt-text font-extralight">
        <strong>Gestión de calidad:</strong> Proceso para obtener información
        detallada de qué fallas se encontraron en las prendas y en qué estapa
        del proceso de confección se ocacionaron.
        <br />
        <br />
        <strong> Gestión de recursos tecnológicos:</strong>
        <br />
        <br />
        <strong> Análisis de datos y resultados:</strong>
      </p>
    </div>
  </div>
  <div class="flex items-center justify-center pb-12">
    <button
      class="bg-tt-blue-2 text-white py-2 px-8 rounded-md text-sm font-light flex items-center gap-2"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          d="M14 3V7C14 7.26522 14.1054 7.51957 14.2929 7.70711C14.4804 7.89464 14.7348 8 15 8H19"
          stroke="white"
          stroke-width="0.941176"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M12 17V11M17 21H7C6.46957 21 5.96086 20.7893 5.58579 20.4142C5.21071 20.0391 5 19.5304 5 19V5C5 4.46957 5.21071 3.96086 5.58579 3.58579C5.96086 3.21071 6.46957 3 7 3H14L19 8V19C19 19.5304 18.7893 20.0391 18.4142 20.4142C18.0391 20.7893 17.5304 21 17 21Z"
          stroke="white"
          stroke-width="0.941176"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M9.5 14.5L12 17L14.5 14.5"
          stroke="white"
          stroke-width="0.941176"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
       Descargar análisis detallado
    </button>
  </div>
</CaseLayout>
